extends ../partials/master.pug

block blockTitle
	- var pageTitle = 'Прайс-лист'

block prepend blockHeadCSS

block append blockHeadCSS

block prepend blockHeadJS

block append blockHeadJS

block prepend blockBodyJS

block append blockBodyJS

block blockPage
	- var classNames = ''

block append pageContent

	h1.title barbershop borodinski — прайс-лист

	+breadcrumbs([
		{ text: 'главная', link: 'javascript:void(0)' },
		{ text: 'прайс-лист', link: 'javascript:void(0)' }
	])

	h2.heading истинно мужская классика

	.price-block
		.grid
			.grid__cell.grid__cell_5-12
				h2.sub-title.price-block__title мы используем #[br] только  лучшие средства:
				ul.list.list_expand
					each item in bestVendors
						li #{item}

			.grid__cell.grid__cell_6-12.grid__cell_offset_1-12
				h2.sub-title.price-block__title цены на услуги #[br] наших мастеров:
				table.table
					tbody
						each value, key in priceList
							tr
								th #{key}
								td #{value}

	.price-block
		h2.sub-title.price-block__title несколько слов о нас:
		.grid
			.grid__cell.grid__cell_5-12 Наша парикмахерская занимается исключительно мужскими стрижками. Стрижка каждого клиента для нас - это уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.
			.grid__cell.grid__cell_6-12.grid__cell_offset_1-12 Наша парикмахерская занимается исключительно мужскими стрижками. Стрижка каждого клиента для нас - это уникальная и продуманная до мелочей работа. Мы не работаем на количество, мы делаем качество.
