extends ../partials/master.pug

block blockTitle
	- var pageTitle = 'Магазин'

block prepend blockHeadCSS

block append blockHeadCSS

block prepend blockHeadJS

block append blockHeadJS

block prepend blockBodyJS

block append blockBodyJS

block blockPage
	- var classNames = ''

block append pageContent

	h1.title Средства для ухода

	+breadcrumbs([
		{ text: 'главная', link: 'javascript:void(0)' },
		{ text: 'магазин', link: 'javascript:void(0)' },
		{ text: 'средства для ухода', link: 'javascript:void(0)' }
	])

	.shop-list
		form.shop-list__filter.filter(name="product-filter", method="GET")
			fieldset.filter__set
				legend.filter__title.sub-title производители
				each item in filter.vendors
					+control({
						type: "checkbox",
						name: "vendors[]",
						value: item.value,
						checked: item.isChecked
					})(class="filter__control")
						| #{item.title}

			fieldset.filter__set
				legend.filter__title.sub-title группы товаров
				each item in filter.productGroups
					+control({
						type: "radio",
						name: "product-category-group",
						value: item.value
					})(class="filter__control")
						| #{item.title}

			button(type="submit").btn.filter__btn Показать

		.shop-list__content
			+productGrid(products)
