extends ../partials/master.pug

block blockTitle
	- var pageTitle = 'UI kit'

block prepend blockHeadCSS

block append blockHeadCSS

block prepend blockHeadJS

block append blockHeadJS

block prepend blockBodyJS

block append blockBodyJS

block blockPage
	- var classNames = ''

block append pageContent

	h1.title Заголовок

	h2.sub-title Заголовок

	p.paragraph параграф

	p.paragraph Travel Kit – ссылка в тексте во время любого путешествия. В аккуратной кожаной сумке находится все, что нужно для бритья и ухода за кожей во время рабочей поездки или отдыха: средство для умывания, увлажняющий крем, крем для бритья, крем после бритья, шампунь. Набор также может стать отличным подарком.

	h2.sub-title Заголовок

	ul.list
		li сжатый список
		li Увлажняющий крем (50 мл)
		li Крем для бритья (50 мл)
		li Крем после бритья, шампунь (50 мл)
		li Удобная кожаная косметичка

	h2.sub-title Таблица

	table.table
		tbody
			tr
				th стрижка
				td 1500 р.
			tr
				th стрижка бороды
				td 500 р.
			tr
				th накрутка усов
				td 350 р.
