footer.page-footer
	.page-footer__inner.container
		.page-footer__cell.page-footer__cell_contacts
			div barbershop «borodinski»
			div адрес: г. санкт-петербург, ул. б. конюшенная, д. 19/8
			div
				a(href="javascript:void(0)").page-footer__link.page-footer__link_mod как нас найти
			div
				| телефон: #[a(href="tel:+749566602666").page-footer__link +7 (495) 666-02-666]

		.page-footer__cell.page-footer__cell_copy
			div.page-footer__title дизайн сайта:
			a(href="http://glukhanko.ru", "").btn glukhanko.ru

		.page-footer__cell.page-footer__cell_social
			div.page-footer__title давайте дружить!
			.social
				a.btn.social__link.social__link_vk(href="http://vk.com", target="_blank") Вконтакте
				a.btn.social__link.social__link_fb(href="http://facebook.com", target="_blank") Facebook
				a.btn.social__link.social__link_in(href="http://instagram.com", target="_blank") Instagram
