mixin pageHeader(menuItems, activeItem)
	header.page-header
		.page-header__inner.container
			nav.page-header__nav
				ul.nav
					each item, index in menuItems
						- var isMain = item.text.toLowerCase() === 'главная';
						li.nav__item(class={
							'nav__item_active': item.text === activeItem.toLowerCase(),
							'nav__item_home': isMain
						})
							a(href=item.link).nav__link
								if (isMain)
									img.nav__logo(src="img/head-logo.png", width="111" height="24" alt="Barbershop")
								| #{item.text}

			.page-header__user
				ul.nav
					li.nav__item
						a(href="#404", data-auth-link).nav__link.enter-link Вход
