.breadcrumbs {
	margin: 0 0 48px;
	padding: 6px 0 0;
	list-style-type: none;
}

	.breadcrumbs__item {
		position: relative;
		display: inline;
	}

		.breadcrumbs__item + .breadcrumbs__item::before {
			content: '';
			margin: 0 16px;
			display: inline-block;
			vertical-align: 1px;
			transform: rotate(45deg);
			width: 8px;
			height: 8px;
			background: #000;
		}

		.breadcrumbs__item:last-child {
			color: #aba9a7
		}

			.breadcrumbs__item:last-child::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

	.breadcrumbs__text {
		color: inherit;
		text-decoration: none;
	}

		.breadcrumbs__text:hover {
			color: #663d15;
		}
