.btn {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	max-width: 100%;
	padding: 0 19px;
	height: 43px;
	line-height: 43px;
	border: 0;
	text-align: center;
	text-decoration: none;
	text-transform: inherit;
	color: #fff;
	background: #000;
	cursor: pointer;
	transition: .2s;
}

	.btn:focus {
		outline: 0;
	}

	.btn:hover,
	.btn.focus-ring {
		color: #fff;
		background: #663d15;
		outline: 0;
	}

	.btn:focus-ring {
		color: #fff;
		background: #663d15;
		outline: 0;
	}

	.btn_disabled {
		opacity: 0.7;
		background: #000;
		cursor: not-allowed;
	}


.input {
	box-sizing: border-box;
	max-width: 100%;
	height: 43px;
	padding: 0 19px;
	border: 2px solid;
	text-transform: inherit;
	background: #fff;
	transition: border .2s;
}

	.input:focus {
		outline: 0;
		border-color: #663d15;
	}

	.input::-webkit-input-placeholder { color: inherit; opacity: 1; }
	.input::-moz-placeholder          { color: inherit; opacity: 1; }/* Firefox 19+ */
	.input:-moz-placeholder           { color: inherit; opacity: 1; }/* Firefox 18- */
	.input:-ms-input-placeholder      { color: inherit; opacity: 1; }


/* чекбоксы и радиобатоны */
/* общие стили */
.control {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

	.control::after {
		content: '';
		display: table;
		clear: both;
	}

	.control__input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
	}

	.control__icon {
		position: relative;
		float: left;
		box-sizing: border-box;
		width: 20px;
		height: 20px;
		border: 2px solid;
		background: #f9f6f3;
	}

		.control__icon::before,
		.control__icon::after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			background: currentColor;
			transition: .2s cubic-bezier(0.6, 0.15, 0.18, 1.6);
		}

	.control__text {
		/* margin-left: 43px; */
		margin-left: 32px;
		display: block;
		/* padding-top: 1px; */
		padding-top: 2px;
		line-height: 18px;
	}

	.control__input:focus + .control__icon,
	.control__input:focus ~ .control__text,
	.control:hover .control__text {
		color:#663d15;
	}

	.control__input:disabled {
		cursor: default;
	}

		.control__input:disabled + .control__icon,
		.control__input:disabled ~ .control__text {
			color: #aaa;
			cursor: default;
		}

	/* чекбоксы */
	.control_checkbox .control__icon::before,
	.control_checkbox .control__icon::after {
		width: 0;
		height: 2px;
	}

	.control_checkbox .control__icon::before {
		transform: rotate(45deg);
	}

	.control_checkbox .control__icon::after {
		transform: rotate(-45deg);
	}

		.control_checkbox .control__input:checked + .control__icon::before,
		.control_checkbox .control__input:checked + .control__icon::after {
			width: 12px;
		}

	/* радиобатоны */
	.control_radio .control__icon {
		border-radius: 50%;
	}

	.control_radio .control__icon::after {
		content: none;
	}

	.control_radio .control__icon::before {
		opacity: 1;
		transform: scale(0);
		width: 8px;
		height: 8px;
		border-radius: inherit;
	}

		.control_radio .control__input:checked + .control__icon::before {
			opacity: 1;
			transform: scale(1);
		}
