@import "normalize.css/normalize.css";

@import "type.css";
@import "grid.css";
@import "controls.css";

@import "header.css";
@import "footer.css";
@import "layout.css";

@import "logo.css";
@import "features.css";
@import "main-widget.css";
@import "news.css";
@import "widget-gallery.css";
@import "socials.css";
@import "breadcrumbs.css";
@import "paginator.css";
@import "shop-list.css";
