$imgURL = "./build/img/icons.png"

$sprite = {}

$sprite["book"] = {}
$sprite["book"]["width"] = 16px
$sprite["book"]["height"] = 16px
$sprite["book"]["position"] = -16px 0px
$sprite["book_hover"] = {}
$sprite["book_hover"]["width"] = 16px
$sprite["book_hover"]["height"] = 16px
$sprite["book_hover"]["position"] = -48px -16px
$sprite["comments"] = {}
$sprite["comments"]["width"] = 16px
$sprite["comments"]["height"] = 16px
$sprite["comments"]["position"] = 0px -16px
$sprite["comments_hover"] = {}
$sprite["comments_hover"]["width"] = 16px
$sprite["comments_hover"]["height"] = 16px
$sprite["comments_hover"]["position"] = -16px -16px
$sprite["compose"] = {}
$sprite["compose"]["width"] = 16px
$sprite["compose"]["height"] = 16px
$sprite["compose"]["position"] = -32px 0px
$sprite["compose_hover"] = {}
$sprite["compose_hover"]["width"] = 16px
$sprite["compose_hover"]["height"] = 16px
$sprite["compose_hover"]["position"] = -32px -16px
$sprite["facebook"] = {}
$sprite["facebook"]["width"] = 16px
$sprite["facebook"]["height"] = 16px
$sprite["facebook"]["position"] = 0px -32px
$sprite["facebook_hover"] = {}
$sprite["facebook_hover"]["width"] = 16px
$sprite["facebook_hover"]["height"] = 16px
$sprite["facebook_hover"]["position"] = -16px -32px
$sprite["globe"] = {}
$sprite["globe"]["width"] = 16px
$sprite["globe"]["height"] = 16px
$sprite["globe"]["position"] = -32px -32px
$sprite["globe_hover"] = {}
$sprite["globe_hover"]["width"] = 16px
$sprite["globe_hover"]["height"] = 16px
$sprite["globe_hover"]["position"] = -48px 0px
$sprite["home"] = {}
$sprite["home"]["width"] = 16px
$sprite["home"]["height"] = 16px
$sprite["home"]["position"] = 0px 0px
$sprite["home_hover"] = {}
$sprite["home_hover"]["width"] = 16px
$sprite["home_hover"]["height"] = 16px
$sprite["home_hover"]["position"] = -48px -32px
$sprite["instagram"] = {}
$sprite["instagram"]["width"] = 16px
$sprite["instagram"]["height"] = 16px
$sprite["instagram"]["position"] = 0px -48px
$sprite["instagram_hover"] = {}
$sprite["instagram_hover"]["width"] = 16px
$sprite["instagram_hover"]["height"] = 16px
$sprite["instagram_hover"]["position"] = -16px -48px
$sprite["pin"] = {}
$sprite["pin"]["width"] = 12px
$sprite["pin"]["height"] = 16px
$sprite["pin"]["position"] = -64px -48px
$sprite["pin_hover"] = {}
$sprite["pin_hover"]["width"] = 12px
$sprite["pin_hover"]["height"] = 16px
$sprite["pin_hover"]["position"] = -64px -32px
$sprite["trash"] = {}
$sprite["trash"]["width"] = 16px
$sprite["trash"]["height"] = 16px
$sprite["trash"]["position"] = -64px 0px
$sprite["trash_hover"] = {}
$sprite["trash_hover"]["width"] = 16px
$sprite["trash_hover"]["height"] = 16px
$sprite["trash_hover"]["position"] = -48px -48px
$sprite["user"] = {}
$sprite["user"]["width"] = 16px
$sprite["user"]["height"] = 16px
$sprite["user"]["position"] = -32px -48px
$sprite["user_hover"] = {}
$sprite["user_hover"]["width"] = 16px
$sprite["user_hover"]["height"] = 16px
$sprite["user_hover"]["position"] = -64px -16px

sprite($iconName)
	width: $sprite[$iconName].width
	height: $sprite[$iconName].height
	background-position: $sprite[$iconName].position
