/**
 * Типографика
 */

:root {
	font: 87.5%/1.7143 "PT Sans Narrow", "Arial Narrow", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.title {
	margin: 0 0 8px;
	font-size: 30px;
	line-height: 1.411;
}


.sub-title {
	margin: 0 0 24px;
	font-size: 24px;
	line-height: 1.7638;
}


.text-link {
	color: inherit;
	text-decoration: none;
}

	.text-link:hover {
		color: #663d15;
	}


.list {
	margin: 0;
	padding-left: 22px;
	list-style-type: none;
}

	.list li {
		position: relative;
	}

		.list li::before {
			content: '';
			position: absolute;
			top: 0;
			right: 100%;
			margin-top: 8px;
			margin-right: 10px;
			transform: rotate(45deg);
			width: 8px;
			height: 8px;
			background: currentColor;
		}

	.list_expand li {
		margin-bottom: 10px;
	}


.paragraph {
	margin: 24px 0;
}


.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}

	.table th,
	.table td {
		padding:7px 19px;
		border: 2px solid #000101;
		text-align: left;
	}


.heading {
	margin: 0 0 60px;
	position: relative;
	overflow: hidden;
	padding: 0 26px;
	font-size: 48px;
	line-height: 1;
	text-align: center;
}

	.heading::before,
	.heading::after {
		content: '';
		position: relative;
		display: inline-block;
		vertical-align: 16px;
		width: 100%;
		height: 2px;
		background: currentColor;
	}

	.heading::before {
		right: 26px;
		margin-left: -100%;
	}

	.heading::after {
		left: 26px;
		margin-right: -100%;
	}
