/**
 * Типографика
 */

:root {
	font: 87.5%/1.7143 "PT Sans Narrow", "Arial Narrow", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.title {
	margin: 0;
	font-size: 30px;
	line-height: 1.411;
}


.sub-title {
	margin: 0;
	font-size: 24px;
	line-height: 1.7638;
}


.text-link {
	color: inherit;
	text-decoration: none;
}

	.text-link:hover {
		color: #663d15;
	}
